*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}
.contact{
    /* height: 100vh; */
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff6347;
    font-weight: bold;
}
h2{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ff6347;
    font-weight: bold;
}
.Wbutton{
    width: 50%;
    background-color: green;
}
.button-contact{
    width: 50%;
}

.form-submit{
    font-size: 25px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}