.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  position: relative;
}

.navbar-logo Link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar-item Link {
  color: #fff;
  text-decoration: none;
}

.navbar-item a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 3px;
}
